:root {
    --web-navy-blue: #1B2E5B;
    --grey: #545353;
    --light-grey: #545353;
    --dark-grey: #333333;
    --medium-grey: #636566;
    --off-white: #FDFCFC;
    --light-blue: #BFE7F3;
    --dark-blue: #7FCFE7;
    --light-yellow: #FFFABF;
    --dark-yellow: #FFF57F;
    --light-green: #D6EEEB;
    --dark-green: #ACDCD6;
    --light-red: #F8D3C5;
    --dark-red: #F1A88A;
    --light-purple: #D7CCDE;
    --dark-purple: #AF8EBC;
}

/* Header */


/* Footer */

/* Home */