@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --web-navy-blue: #1B2E5B;
    --grey: #545353;
    --light-grey: #E4E3E3;
    --lighter-grey: #f0f0f0;
    --dark-grey: #333333;
    --medium-grey: #636566;
    --off-white: #FDFCFC;
    --white: #ffffff;
    --light-blue: #BFE7F3;
    --dark-blue: #7FCFE7;
    --light-yellow: #FFFABF;
    --dark-yellow: #FFF57F;
    --light-green: #D6EEEB;
    --dark-green: #ACDCD6;
    --light-red: #F8D3C5;
    --dark-red: #F1A88A;
    --light-purple: #D7CCDE;
    --dark-purple: #AF8EBC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 29px;
    scroll-behavior: smooth;
}

/* Header */
.landing-banner{
    width: 100%;
    height: 88vh;
    background: url(/image/home/Rectangle\ 12.svg);
    background-size: cover;
    background-position: center;
}

.nav-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 50px 30px 30px;
}

.logo{
    width: 150px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    text-decoration: none;
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--dark-blue);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

button{
    padding: 13px 20px;
    background-color: var(--off-white);
    border: none;
    border-radius: 20px;
    color: var(--web-navy-blue);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta{
    margin-left: 20px;
}

button:hover{
    opacity: 0.8;
}

.nav-info{
    display: flex;
    align-items: flex-start;
    padding: 30px 0vw 30px 5vw;
}

.nav-p{
    width: 1500px;
    margin-top: 150px;
}

.nav-text{
    color: var(--web-navy-blue);
    padding-top: 50px;
}

.nav-text h2{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.nav-text p{
    font-size: 24px;
    margin-bottom: 30px;
}

.nav-banner-about button{
    font-size: 1.2rem;
}

/* Home */
.about-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--off-white);
    padding: 100px 100px;
    align-items: center;
    justify-items: center;
}

.about-tech2u{
    display: grid;
    justify-items: center;
    text-align: center;
}

.about-font{
    padding: 30px;
    color: var(--web-navy-blue);
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.about-p{
    margin-left: 30px;
    display: grid;
}

.about-p p{
    color: var(--web-navy-blue);
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
}

.about-p a{
    text-align: center;
    color: var(--web-navy-blue);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.btn-landing{
    background-color: var(--web-navy-blue);
    color: var(--off-white);
    font-weight: 700;
    font-size: 24px;
}

.overview-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--light-grey);
    padding: 100px 100px;
    align-items: center;
    justify-items: center;
}

.stories-info{
    display: flex;
    background-color: var(--web-navy-blue);
    padding: 100px 100px;
}

.stories-info span{
    display: grid;
}

.stories-info img{
    margin-left: 7vw;
}

.stories-p{
    color: var(--white);
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.stories-p::before{
    font-family: FontAwesome;
    content: '\f10d';
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    padding-bottom: 20px;
}

.stories-p::after {
    font-family: FontAwesome;
    content: '\f10e';
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    padding-top: 20px;
}

span .stories-link{
    text-align: center;
    color: var(--off-white);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.video{
    margin: 0 auto;
    width: 100%;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 30px 60px 30px;
}

.contact-p{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
}

.contact-info a{
    color: var(--web-navy-blue);
}

.contact-link{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/* Footer */

.footer{
    display: flex;
    background-color: var(--web-navy-blue);
    justify-content: flex-end;
    padding: 30px 50px 30px 50px;
}

.footer-logo{
    margin-right: auto;
}

.footer-col{
    margin-right: 30px;
}

.footer-col h3{
    color: var(--off-white);
    font-size: 1rem;
    font-weight: 500;
}

.footer button{
    height: 50px;
    padding: 5px 10px;
}

/* About */
.landing-banner-about {
    width: 100%;
    height: 88vh;
    background: url(/image/about/image\ 7-2.svg);
    background-size: cover;
    background-position: center;
}

.landing-banner-subtech {
    width: 100%;
    height: 88vh;
    background: url(/image/tech/Rectangle\ 12-3.svg);
    background-size: cover;
    background-position: center;
}

.nav-banner-about{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px 20px 30px;
    background-color: var(--web-navy-blue);
}

.nav-text-about h2{
    color: var(--web-navy-blue);
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.nav-text-about p {
    color: var(--web-navy-blue);
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.box-about{
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 15px;
    padding: 40px;
    margin-right: 0px;
    margin-bottom: 50px;
}

.box-about2 {
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 40px;
    padding: 40px;
    margin-right: 0px;
    margin-bottom: 50px;
}

.box-about h2 {
    margin-bottom: 20px;
    color: var(--web-navy-blue);
}

.box-about p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
    color: var(--web-navy-blue);
}

.nav-info-about {
    display: flex;
    padding: 90px 20vw 30px 10vw;
}

.nav-info {
    display: flex;
    align-items: flex-start;
    padding: 30px 0vw 30px 5vw;
}

.services{
    margin: 70px 0;
}

.our-service{
    margin: 0 10vw 70px 10vw;
}

.our-service h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--web-navy-blue);
}

.our-service p {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.service-icon{
    margin: 0 10vw 50px 10vw;
}

.icon-set{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin: 0 3vw 40px 3vw;
    justify-content: center;
}

.icon-set img{
    margin-right: 30px;
}

.icon-set p{
    margin-bottom: 0;
}

.service-text{
    display: flex;
    align-items: flex-start;
    background: var(--light-grey);
    padding: 30px 30px 0px 30px;
    margin-bottom: 90px;
    border-radius: 40px;
}

.service-text p{
    margin-right: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.service-text img{
    width: 100px;
}

.team{
    background-color: var(--light-grey);
    width: 100%;
    padding: 70px 0vw 70px 0vw;
}

.team h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--web-navy-blue);
}

.team p{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.team-box{
    margin-top: 20px;
}

.maincontainer {
    position: relative;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover {
    transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

.team-set{
    display: flex;
    margin: auto;
    justify-content: center;
}

.card-container{
    position: relative;
    width: 250px;
    height: 320px;
}


.card:hover{
    transform: rotateY(180deg);
}

.back-side{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
    border-radius: 40px;
    transform: rotateY(180deg);
}

.tech2u-impact{
    align-items: center;
    padding: 70px 10vw 0px 10vw;
}

.tech2u-impact h2{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--web-navy-blue);
}

.tech2u-impact p{
    padding-bottom: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.impact-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.impact-set{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.impact-img{
    background-color: var(--lighter-grey);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.centre{
    text-align: center;
}

.btn{
    margin-top: 30px;
    background-color: var(--web-navy-blue);
    color: var(--off-white);
}

.btn-tech {
    margin-top: 30px;
    background-color: var(--web-navy-blue);
    color: var(--off-white);
    padding-left: 40px;
    padding-right: 40px;
}

.access-row{
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.access-row ul{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
    margin-right: 90px;
}

.access-row ul li{
    margin-top: 40px;
}

.centre-btn{
    display: flex;
    justify-content: center;
}

/* Technology */
.landing-banner-tech {
    width: 100%;
    height: 88vh;
    background: url(/image/tech/Group\ 305.svg);
    background-size: cover;
    background-position: center;
}

.nav-banner-tech {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px 20px 30px;
    background-color: var(--web-navy-blue);
}

.nav-text-tech h2 {
    color: var(--web-navy-blue);
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.nav-text-tech p {
    color: var(--web-navy-blue);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.box-tech {
    border: none;
    border-radius: 15px;
    padding: 40px;
    margin-right: 10vw;
}

.box-tech h2 {
    margin-bottom: 20px;
    color: var(--off-white);
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.box-tech p {
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--off-white);
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.tech-body{
    padding: 70px 0 0px 0;
}

.tech-row{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 10px;
}

.tech-row2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tech-rect-main {
    margin-right: 25px;
    margin-left: 25px;
    background-color: var(--web-navy-blue);
    border: none;
    border-radius: 29px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: var(--off-white);
}

.tech-rect{
    margin-right: 25px;
    margin-left: 25px;
    background-color: transparent;
    border: 3px solid var(--light-grey);
    border-radius: 29px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.tech-rect a p{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.tech-row img{
    width: 300px;
}

.tech-row2 img {
    width: 300px;
}

.tech-row p{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 30px;
}

.tech-row2 p {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 30px;
}

.nav-info-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.box-mobile {
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 15px;
    padding: 20px;
    color: var(--web-navy-blue);
}

.mobile-body{
    padding: 50px 0 50px 0;
}

.mobile-body h2{
    text-align: center;
    margin-bottom: 0px;
    color: var(--web-navy-blue);
}

.mobile-set{
    background-color: transparent;
    padding: 20px;
    margin: 20px;
    width: 350px;
    align-items: center;
    text-align: center;
}

.mobile-set img {
    height: 150px;
    margin-bottom: 20px;
}

.mobile-set p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--web-navy-blue);
}

.vid{
    display: flex;
    justify-content: center;
    background: url(/image/tech/Group\ 306.svg);
}

.vid img{
    display: flex;
    width: 60%;
}

.feature{
    background-color: var(--web-navy-blue);
    padding: 50px 200px;
}

.feature h2{
    margin-bottom: 20px;
    color: var(--off-white);
}

.feature ul{
    color: var(--off-white);
    margin-left: 40px;
}

.feature ul li ul{
    margin-left: 20px;
}

.mobile-landing {
    width: 100%;
    height: 60vh;
    background: url(/image/tech/Rectangle\ 12-2.svg);
    background-size: cover;
    background-position: center;
}

/* Stories */
.stories-body{
    padding: 50px 0px 50px 0px;
}

.stories-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: stretch;
    align-items: stretch;
}

.stories-box{
    margin-left: 150px;
    margin-right: 100px;
    position: relative;
}

.stories-box img{
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -80px;
}

.story-content{
    position: relative;
    margin: 100px 0;
}

.stories-top {
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
}

.stories-top img{
    z-index: 1;
    position: absolute;
    top: -100px;
    left: -80px;
}

.content{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    border: 3px solid var(--light-grey);
    border-bottom: none;
    padding: 70px 90px;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
    min-height: 350px;
}

.content-top {
    border-radius: 15px 15px 0 0;
    border: 3px solid var(--light-grey);
    border-bottom: none;
    padding: 70px 90px;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
}

.story-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    border: 3px solid var(--web-navy-blue);
    padding: 20px;
    background-color: var(--web-navy-blue);
    color: var(--off-white);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    height: 100px;
}

.stories-link-read{
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    bottom: 130px;
    right: 0;
    left: 0
}

.find-help-info {
    background-color: var(--light-grey);
    padding: 50px 100px;
    align-items: center;
    justify-items: center;
}

.find-help{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.find-help p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
}

.help{
    margin-right: 100px;
}

.find-help h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.find-help-btn{
    display: grid;
    justify-content: center;
}

.help-btn{
    background-color: var(--web-navy-blue);
    color: var(--off-white);
    margin-top: 40px;
    font-size: 20px;
}

.help-info{
    padding: 80px 100px;
}

.help-info h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--web-navy-blue);
    margin-bottom: 40px;
}

.help-info p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.box-help {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border-bottom: none;
    padding: 70px 90px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
}

.nav-help{
    display: flex;
    margin: 70px;
}


/* Contact */
.landing-banner-contact {
    width: 100%;
    background: none;
}

.contact-body{
    padding: 160px 14vw;
    display: flex;
    align-items: center;
}

.contact-text{
    margin-right: 80px;
}

.contact-text h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--web-navy-blue);
    margin-bottom: 30px;
}

.contact-body img{
    width: 30%;
}

.contact-list p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
    margin-bottom: 20px;
}

.contact-list ul li{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
}

.contact-list ul{
    margin-bottom: 20px;
}

.contact-list button{
    background-color: var(--web-navy-blue);
    color: var(--off-white);
}

.question{
    background-color: var(--light-grey);
    padding: 80px 30vw;
}

.question p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--web-navy-blue);
}

.question-title{
    margin-bottom: 30px;
}

/* .question-contact::after{
    content: '';
    font-weight: 600;
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #000;
} */

.question img{
    position: absolute;
    margin-top: 30px;
    left: 49%;
}

.contact-form{
    padding: 70px 20vw;
}

.contact-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-btn{
    background-color: var(--web-navy-blue);
    color: var(--off-white);
    justify-content: center;
    align-items: center
}

.field input{
    border-radius: 20px;
    box-shadow: none;
    border: 1px solid #E4E3E3;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.field p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--web-navy-blue);
    margin-bottom: 10px;
}

.first-name{
    margin-right: 50px;
}

.message input{
    height: 100px;
    margin-bottom: 40px;
}


/* ------------ Flip card ------------- */

.card-container {
    -webkit-perspective: 1200;
    -moz-perspective: 1200;
    perspective: 1200;
    height: 320px;
    width: 300px;
    margin: 40px;
}

.card-vertical{
    height: 100%;
    width: 100%;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    transition: all .4s ease;
}

.card-front,
.card-back {
    color: #fafafa;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    position: absolute;
    background: #FFFFFF;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-back {
    -moz-transform: rotateY(179.9deg);
    -webkit-transform: rotateY(179.9deg);
    transform: rotateY(179.9deg);
}

.card-front-content {
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
}

.card-back-content{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-back-content p{
    display: flex;
    align-items: flex-end;
    padding: 25px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.card-back-hr {
    -webkit-transform: rotateX(179.9deg);
    -moz-transform: rotateX(179.9deg);
    transform: rotateX(179.9deg);
}

.card-vertical:hover {
    -webkit-transform: rotateY(179.9deg);
    -moz-transform: rotateY(179.9deg);
    transform: rotateY(179.9deg);
}

.card-horizontal:hover {
    -webkit-transform: rotateX(179.9deg);
    -moz-transform: rotateX(179.9deg);
    transform: rotateX(179.9deg);
}

/* ------------Teaching Station-------------- */
.teach-sta-body{
    margin: 70px;
}

.teach-sta-body h2{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--web-navy-blue);
    margin-bottom: 40px;
}

.sta-set{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.sta-set img{
    margin-right: 30px;
    width: 442px;
}

.sta-set ul{
    margin-left: 30px;
}

.sta-set ul li{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--web-navy-blue);
}

.vid-row{
    display: flex;
    justify-content: center;
}

.vid-row video{
    width: 531px;
    height: 304px;
    margin: 20px;
}